<head>
  <meta charset="UTF-8">
  <title>Ethan Martin</title>

  <link href="https://fonts.googleapis.com/css?family=Cairo:200,400,700|EB+Garamond:400,700|Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="/assets/main.css" rel="stylesheet">

  {% if page.needsmath == true %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  {% endif %}
</head>
