<div class="section" id="edu">
  <h2>Education</h2>
  <h3>University of Mary Washington | Fredericksburg, VA</h3>
  <p>
    <strong>B.S.</strong>, Major in Computer Science, Minor in Cybersecurity | 
    Expected graduation <strong>Fall 2019</strong>
  </p>
  <p>Major GPA <strong>4.0</strong>, overall <strong>3.56</strong></p>
</div>

<div class="section" id="work">
  <h2>Work Experience</h2>
  <div class="row">
    <div class="col">
      <h3>Technical Intern (Software)</h3>
      <h4>Manufacturing Techniques, Inc. | May &ndash; August 2018 & December 2018 &ndash; January 2019</h4>
      <ul>
        <li>
          Devised and implemented an optimized clustering algorithm that greatly
          improved performance of existing software.
        </li>
        <li>
          Developed a network interface for an in-development system and provided
          accompanying documentation for the customer.
        </li>
      </ul>
    </div>
    <div class="col">
      <h3>Peer Tutor (Computer Science / Data Science)</h3>
      <h4>University of Mary Washington | January &ndash; December 2018</h4>
      <ul>
        <li>
          Provided walk-in tutoring services in 1-on-1 and small group formats to
          students taking introductory and intermediate computer and data science
          courses.
        </li>
        <li>
          Maintained online informational documents providing quick reference and
          studying tips to computer science students.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="section" id="technologies">
  <h2>Technologies</h2>
  <div class="row">
    <div class="col">
      <h3>Languages</h3>
      <p>
      Java, C/C++, Python, HTML/CSS, Javascript, Swift, PHP, ARM Assembly
      </p>
    </div>
    <div class="col">
      <h3>Environments and Other Technologies</h3>
      <p>
      macOS, Arch Linux, Debian, RHEL + derivatives, Windows, Qt, Bash, Zsh, 
      Git, GitHub, GitLab Enterprise, Vim/Neovim, JetBrains IntelliJ +
      derivatives
      </p>
    </div>
  </div>
</div>

<div class="section" id="activities">
  <h2>Leadership</h2>
  <div class="row">
    <div class="col">
      <h3>Girls Who Code</h3>
      <h4>Club Facilitator | January &ndash; August 2017</h4>
      <ul>
        <li>
          Established and taught a local Girls Who Code Club including 9 regular
          members at the L.E. Smoot Memorial Library.
        </li>
        <li>
          Familiarized members with concepts of variables, loops, conditionals, and
          functions.
        </li>
      </ul>
    </div>
    <div class="col">
      <h3>Association for Computing Machinery</h3>
      <h4>UMW Chapter Vice President | August 2018 &ndash; Present</h4>
      <ul>
        <li>
          Managing server hardware owned by the club for the purposes of hosting
          a website and organizing monthly programming contests.
        </li>
        <li>
          Assisting with planning for a yearly 24-hour Hackathon event on campus.
        </li>
    </div>
  </div>
</div>

<div class="section" id="projects">
  <h2>Projects</h2>
  <div class="row">
    <div class="col">
      <h3>HQBot</h3>
      <h4>Personal project | July 2017</h4>
      <ul>
        <li>
          A chat bot built with Java for the VoIP and messaging platform Discord.
        </li>
        <li>
          Can play music in voice channels from the local disk or online sources
          such as YouTube or SoundCloud.
        </li>
        <li>
          Maintains an internal playlist offering a shuffle option as well as
          single and multiple repeat modes.
        </li>
      </ul>
    </div>
    <div class="col">
      <h3>Jet</h3>
      <h4>Indepenent Study | January 2018</h4>
      <ul>
        <li>
          An ncurses-based CLI text editor written in C prioritizing ease of use.
        </li>
        <li>
          Provides a basic syntax highlighting system.
        </li>
        <li>
          Utilizes a minimal interface and well-established keybindings.
        </li>
      </ul>
    </div>
  </div>
</div>

